.button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;

  &--primary {
    background-color: #5d5dea;
    color: white;
  }

  &--secondary {
    background-color: #40b5ca;
    color: white;
  }
}
